
<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': myPost.loveIts > 0,
                'list-group-item-danger': myPost.loveIts < 0}">
    <div >
        <h3 class="col-xs-8">
            {{myPost.title}}
        </h3>
        <h3 class="col-xs-4 text-right">
            <small>{{myPost.createdAt | date:'dd/MM/yyyy HH:mm'}}</small>
        </h3>
        <div class="col-xs-12">
            <p>{{myPost.content}}</p>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-success" (click)="onLove()">Love it !</button>
            <button class="btn btn-danger" (click)="onDontLove()">Don't love it !</button>
        </div>
        {{myPost.loveIts}}
    </div>
</li>